<div class="container">
  <div class="page-header">
    <h3>Profile Information</h3>
  </div>
  <%= form_for(current_user, {action: "/account/profile", method: "POST"}) { %>
    <%= partial("profile/profile_form.html") %>
  <% } %>
 
  <div class="page-header">
    <h3>Delete Account</h3>
  </div>
  <p> WARNING ! - This will permanently delete your account. You will not get any of your data back </p>
  <a href="/users?user_id=<%=current_user.ID%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Delete Account</a>
</div>