<div class="container">
  <h2><i class="fa fa-twitter"></i>Twitter API</h2>
  <div class="btn-group btn-group-justified">
    <a class="btn btn-primary" href="http://developer.twitter.com/"
       target="_blank"><i class="fa fa-check-square-o"></i>Getting
      Started
    </a>
    <a class="btn btn-primary" href="https://apigee.com/console/twitter" target="_blank"><i
        class="fa fa-laptop"></i>API Console</a>
    <a class="btn btn-primary" href="https://developer.twitter.com/en/docs"
       target="_blank"><i class="fa fa-file-text-o"></i>Documentation</a>
  </div>
  <br>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Latest tweets about <%= query %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <ul>
            <%= for (tweet) in tweets { %>
            <li><%= tweet %></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>