<!-- Navigation -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Go Hackathon Starter</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
                <!-- TODO: set one to active based on current page -->
				<li><a href="/">Home</a></li>
				<li><a href="/api-examples">API Examples</a></li>
                <li><a href="/contacts/new">Contact</a></li>
                <!-- <li><a href="/status">Status</a></li> TODO: make this admin only -->
			</ul>
            <!-- Search bar
			<form class="navbar-form navbar-left">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
			-->
			<ul class="nav navbar-nav navbar-right">
               <%= if (current_user) { %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">
                      <img src="<%= current_user.Gravatar %>">
                      <span><%= current_user.Name %></span>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/profile">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
               <% } else { %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      Login
                    </a>
	                <ul class="dropdown-menu">
		                <li><a href="/auth/github">Github</a></li>
		                <li><a href="/auth/facebook">Facebook</a></li>
                        <li><a href="/auth/twitter">Twitter</a></li>
	                </ul>
                </li>
               <% } %>

			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

