@import "~bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

// Scaffolding
// -------------------------

html {
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

.nav img {
    width: 30px;
    height: 30px;
    margin: -15px 15px -15px;
}