<div id="main" class="container">
  <div class="row">
    <div class="col-sm-4">
      <a href="/api/upload" style="color: #1565c0;">
        <div class="panel panel-default" style="background-color: #fff;">
          <div class="panel-body"><img src="http://i.imgur.com/UPTzIdC.png" height="40">
            File Upload
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="/api/github" style="color: #fff;">
        <div class="panel panel-default" style="background-color: #000;">
          <div class="panel-body"><img src="http://i.imgur.com/2AaBlpf.png" height="40">
            GitHub
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="/api/twitter" style="color: #fff;">
        <div class="panel panel-default" style="background-color: #00abf0;">
          <div class="panel-body"><img src="http://i.imgur.com/EYA2FO1.png" height="40"> Twitter</div>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="/api/scraping" style="color: #fff;">
        <div class="panel panel-default" style="background-color: #ff6500;">
          <div class="panel-body"><img src="http://i.imgur.com/RGCVvyR.png" height="40">
            Web Scraping
          </div>
        </div>
      </a>
    </div>
    <!-- row ends -->
  </div>
</div>
