<br/>
<div class="container">
  <h2>Hackathon Starter</h2>
  <p class="lead">A boilerplate for Golang web applications. Optimized for developer speed.</p>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <h3>Based on Gobuffalo</h3>
      <p><a href="https://gobuffalo.io/">Gobuffalo</a> is a Go web development eco-system, designed to make the life of
        a Go web developer easier. Buffalo
        uses <a href="https://github.com/gorilla">Gorilla toolkit</a> to manage routes, sessions, cookies... There might
        be faster routers out there, but this
        one is definitely the most powerful!</p>
    </div>
    <div class="col-sm-6">
      <h3>Supports Account Management</h3>
      <p>Supports Github, Twitter, Facebook login out of the box. Additional logins can be added with a one-liner using
        <a href="https://github.com/markbates/goth">goth</a></a>. Also has account management built in.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h4>Hot Code Reload</h4>
      <p>Code, save, refresh. Use the buffalo dev command to rebuild your app, from backend to frontend, and just see
        the changes live!</p>
    </div>
    <div class="col-sm-6">
      <h5>API Examples</h5>
      <p>Comes with API examples for most common tasks like scraping, file upload, integrating APIs for twitter etc </p>
    </div>
  </div>
</div>
