<div class="container">
  <div class="page-header">
    <h3>Sign in</h3>
  </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-7">
        <a class="btn btn-block btn-facebook btn-social" href="/auth/facebook">
          <i class="fa fa-facebook"></i>Sign in with Facebook</a>
        <a class="btn btn-block btn-twitter btn-social" href="/auth/twitter">
          <i class="fa fa-twitter"></i>Sign in with Twitter</a>
        <!-- <a class="btn btn-block btn-google btn-social" href="/auth/google">
          <i class="fa fa-google-plus"></i>Sign in with Google</a> -->
        <a class="btn btn-block btn-github btn-social" href="/auth/github">
          <i class="fa fa-github"></i>Sign in with GitHub</a>
        <!-- <a class="btn btn-block btn-linkedin btn-social" href="/auth/linkedin">
          <i class="fa fa-linkedin"></i>Sign in with LinkedIn</a>
        <a class="btn btn-block btn-instagram btn-social" href="/auth/instagram">
          <i class="fa fa-instagram"></i>Sign in with Instagram</a> -->
      </div>
    </div>
</div>